In [13]:
import pandas as pd

In [14]:
df = pd.read_csv('trips/Brian_Wedding.csv')
datetimes = df.query_datetime.unique()

In [15]:
df[df.query_datetime == datetimes[0]]

,query_datetime,returnOrDepart,flight,departTime,returnTime,duration,stops,fare,fareAnytime,fareBusinessSelect
0,2022-03-13 19:34:46,depart,2465,6:35AM,10:10AM,2.58,0,173.0,223,263
1,2022-03-13 19:34:46,depart,829,6:35AM,10:10AM,7.67,2,NaN,533,573
2,2022-03-13 19:34:46,depart,1048/1049,6:35AM,10:10AM,4.42,1,269.0,319,359
3,2022-03-13 19:34:46,depart,136,6:35AM,10:10AM,2.42,0,245.0,295,335
4,2022-03-13 19:34:46,depart,2956/2698,6:35AM,10:10AM,4.25,1,269.0,319,359
5,2022-03-13 19:34:46,depart,3261,6:35AM,10:10AM,4.42,1,314.0,364,404
6,2022-03-13 19:34:46,depart,1309/2151,6:35AM,10:10AM,4.33,1,172.0,558,598
7,2022-03-13 19:34:46,depart,244,6:35AM,10:10AM,2.42,0,195.0,245,285
8,2022-03-13 19:34:46,depart,2741,6:35AM,10:10AM,4.58,1,221.0,271,311
9,2022-03-13 19:34:46,depart,462,6:35AM,10:10AM,4.67,1,314.0,364,404
10,2022-03-13 19:34:46,depart,405,6:35AM,10:10AM,7.33,2,NaN,533,573
11,2022-03-13 19:34:46,depart,2918/3203,6:35AM,10:10AM,4.42,1,318.0,368,408
12,2022-03-13 19:34:46,depart,3155,6:35AM,10:10AM,2.25,0,206.0,256,296
13,2022-03-13 19:34:46,depart,2271/1623,6:35AM,10:10AM,4.25,1,290.0,340,380
14,2022-03-13 19:34:46,depart,2875,6:35AM,10:10AM,2.42,0,173.0,223,263
15,2022-03-13 19:34:46,depart,4622/2504,6:35AM,10:10AM,4.17,1,204.0,254,294
16,2022-03-13 19:34:46,depart,1471/1021,6:35AM,10:10AM,4.17,1,172.0,222,262
17,2022-03-13 19:34:46,depart,2967/2907,6:35AM,10:10AM,4.25,1,172.0,222,262
18,2022-03-13 19:34:46,depart,2050/2984,6:35AM,10:10AM,4.00,1,172.0,222,262
19,2022-03-13 19:34:46,depart,163,6:35AM,10:10AM,2.17,0,163.0,213,253
20,2022-03-13 19:34:46,depart,43/2729,6:35AM,10:10AM,3.83,1,172.0,222,262
21,2022-03-13 19:34:46,depart,456,6:35AM,10:10AM,2.25,0,163.0,213,253
22,2022-03-13 19:34:46,return,3128/2530,6:35AM,10:10AM,4.08,1,172.0,222,262
23,2022-03-13 19:34:46,return,3128/133,6:35AM,10:10AM,4.50,1,172.0,222,262
24,2022-03-13 19:34:46,return,973,6:35AM,10:10AM,8.67,2,318.0,558,598
25,2022-03-13 19:34:46,return,1048,6:35AM,10:10AM,2.42,0,124.0,174,214
26,2022-03-13 19:34:46,return,3009/2475,6:35AM,10:10AM,4.58,1,133.0,183,223
27,2022-03-13 19:34:46,return,240,6:35AM,10:10AM,8.00,2,NaN,533,573
28,2022-03-13 19:34:46,return,896/2313,6:35AM,10:10AM,4.17,1,172.0,222,262
29,2022-03-13 19:34:46,return,3137,6:35AM,10:10AM,2.33,0,163.0,253,293
30,2022-03-13 19:34:46,return,2568/1088,6:35AM,10:10AM,4.33,1,133.0,183,223
31,2022-03-13 19:34:46,return,243,6:35AM,10:10AM,2.50,0,163.0,213,253
32,2022-03-13 19:34:46,return,2150/2395,6:35AM,10:10AM,4.00,1,182.0,232,272
33,2022-03-13 19:34:46,return,1267/1456,6:35AM,10:10AM,4.08,1,182.0,232,272
34,2022-03-13 19:34:46,return,3131,6:35AM,10:10AM,2.25,0,195.0,245,285
35,2022-03-13 19:34:46,return,245/2105,6:35AM,10:10AM,4.25,1,133.0,183,223
36,2022-03-13 19:34:46,return,3218,6:35AM,10:10AM,2.33,0,195.0,245,285
37,2022-03-13 19:34:46,return,687/725,6:35AM,10:10AM,4.50,1,172.0,222,262
38,2022-03-13 19:34:46,return,1154,6:35AM,10:10AM,2.25,0,163.0,213,253
39,2022-03-13 19:34:46,return,2742/1271,6:35AM,10:10AM,4.42,1,133.0,183,223
40,2022-03-13 19:34:46,return,337,6:35AM,10:10AM,2.33,0,124.0,174,214